@font-face {
    font-family: 'ITCHandelGothicArabicW23-Bd';
    src: url('../fonts/ITCHandelGothicArabicW23-Bd.eot');
    src: url('../fonts/ITCHandelGothicArabicW23-Bd.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ITCHandelGothicArabicW23-Bd.woff2') format('woff2'),
        url('../fonts/ITCHandelGothicArabicW23-Bd.woff') format('woff'),
        url('../ITCHandelGothicArabicW23-Bd.ttf') format('truetype');
}

@font-face {
    font-family: 'ITCHandelGothicArabicW23-Lt';
    src: url('../fonts/ITCHandelGothicArabicW23-Lt.eot');
    src: url('../fonts/ITCHandelGothicArabicW23-Lt.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ITCHandelGothicArabicW23-Lt.woff2') format('woff2'),
        url('../fonts/ITCHandelGothicArabicW23-Lt.woff') format('woff'),
        url('../ITCHandelGothicArabicW23-Lt.ttf') format('truetype');
}

@font-face {
    font-family: 'ITCHandelGothicArabicW23-Md';
    src: url('../fonts/ITCHandelGothicArabicW23-Md.eot');
    src: url('../fonts/ITCHandelGothicArabicW23-Md.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ITCHandelGothicArabicW23-Md.woff2') format('woff2'),
        url('../fonts/ITCHandelGothicArabicW23-Md.woff') format('woff'),
        url('../ITCHandelGothicArabicW23-Md.ttf') format('truetype');
}
body
{
    font-family: 'ITCHandelGothicArabicW23-Md';
}
::-webkit-scrollbar {
    width: 10px;
    height: 0;
  }
  ::-webkit-scrollbar-track {
    background: #fff; 
    border-radius: 0px;
  }
  ::-webkit-scrollbar-track-piece{
    background: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #e1d61c;
    border: 2px solid transparent;
    background-clip: padding-box;
    border-radius: 20px;
  }
.scroll_mob
{
    overflow: hidden;
}
a:focus,button:focus,input:focus,a:hover
{
    outline: none;
    text-decoration: none;
}
header
{
    background-image: url(../images/head_back.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    min-height: 800px;
    position: relative;
}
header .top_bar
{
    display: flex;
    align-items: flex-end;
    margin-top: 40px;
}
header .main
{
    position: relative;
    right: 200px;
}
header .links 
{
    margin-bottom: 0;
    margin-right: 0;
}
header .links > li
{
    padding: 0 14px;
}
header .links > li > a
{
    font-size: 16px;
    color: #5b5c5b;
    transition: 0.5s ease;
}
header .links > li > a:hover
{
    color: #e1d61c;
}
.down_nav
{
    position: absolute;
    top: 88%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}
.scroll
{
    width: 27px;
    height: 52px;
    border: 1px solid rgba(11,37,50,0.3);
    border-radius: 17px;
    position: relative;
    text-align: center;
    padding-top: 3px;
    padding-bottom: 3px;
    margin: auto;
    display: inline-block;
}
.scroll span
{
    width: 1px;
    height: 10px;
    background-color: rgba(23,25,21,0.3);
    position: absolute;
    -webkit-animation-name: scr;
    -webkit-animation-duration: 1.5s; 
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: reverse;
    animation-name: scr;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-direction: reverse;
    animation-timing-function: ease-in-out;
}
@keyframes scr {
    0%  {top:5px;}
    50%  {top:30px;}
    100%  {top:5px;}
}
header .mobile_nav
{
    display: none;
}
header .mobile_nav .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 10;
    top: 0;
    background-color: #e1d61c;
    overflow-x: hidden;
    transition: 0.5s ease;
    padding-top: 50px;
}

header .mobile_nav .sidenav .direct {
    text-decoration: none;
    margin: 10px 20px;
    font-size: 20px;
    color: #ffffff;
    transition: 0.5s ease;
    text-transform: capitalize;
    line-height: 38px;
}
header .mobile_nav .mob_bar
{
    background-color: #e1d61c;
    padding: 15px;
}
header .mobile_nav .list
{
    color: #ffffff;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    padding: 0;
    text-transform: uppercase;
    font-size: 23px;
}
header .mobile_nav .list > span
{
    position: relative;
    bottom: 2px;
    margin-right: 8px;
}
header .mobile_nav .list > .fa
{
    font-size: 24px;
}
header .mobile_nav .sidenav .closebtn {
    position: absolute;
    color: #ffffff;
    top: 10px;
    font-size: 38px;
    cursor: pointer;
    left: 30px;
}
#about_us
{
    background-image: url(../images/about_back.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    min-height: 550px;
    margin-bottom: 95px;
}
#about_us .info
{
    margin-top: 115px;
}
#about_us .heading > h3
{
    color: #171915;
    font-size: 24px;
    margin-bottom: 24px;
    margin-top: 0;
    position: relative;
    padding-bottom: 16px;
}
#about_us .heading h3:after
{
    content: "";
    width: 36px;
    height: 1px;
    background-color: #e4e116;
    position: absolute;
    top: 100%;
    right: 0;
}
#about_us .detail
{
    font-size: 17px;
    color: #5b5c5b;
    margin-bottom: 0;
    line-height: 30px;
    font-family: 'ITCHandelGothicArabicW23-Lt';
    text-align: justify;
}
#our_services .heading > h3
{
    color: #171915;
    font-size: 30px;
    margin-bottom: 26px;
    margin-top: 0;
    position: relative;
    padding-bottom: 18px;
    text-align: center;
}
#our_services .heading h3:after 
{
    content: "";
    width: 36px;
    height: 1px;
    background-color: #e4e116;
    position: absolute;
    top: 100%;
    left: 50%;
    right: auto;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}
#our_services .detail
{
    font-size: 16px;
    color: #5b5c5b;
    text-align: center;
    margin-bottom: 105px;
}
#our_services .serv
{
    display:  flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#our_services .serv .photo
{
    min-height: 166px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#our_services .serv > h4
{
    margin-bottom: 0;
    margin-top: 24px;
    text-align: center;
    line-height: 28px;
}
#our_services .serv > h4 > a
{
    color: #171915;
    font-size: 19px;
    transition: 0.5s ease;
}
#our_services .serv > h4 > a:hover
{
    color: #e1d61c;
}
#our_works
{
    display: flex;
    flex-wrap: wrap;
    margin-top: 130px;
    margin-bottom: 90px;
    justify-content: center;
}
.cell
{
    max-width: 269px;
    position: relative;
}
.cell .fa
{   
    white-space: nowrap; 
    position: absolute;
    font-size: 48px;
    color: #ffffff;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    transition: 0.5s ease;
    border-radius: 4px;
    border-radius: 50%;
}
.cell .fa:hover
{
    color: #e1d61c;
    -webkit-box-shadow: 0 0px 43px 10px rgba(0, 0, 0, .58);
    box-shadow: 0 0px 43px 10px rgba(0, 0, 0, .58);
}
#contact .heading h3
{
    color: #171915;
    font-size: 30px;
    margin-bottom: 50px;
    margin-top: 0;
    position: relative;
    padding-bottom: 24px;
}
#contact .heading h3:after
{
    content: "";
    width: 36px;
    height: 1px;
    background-color: #e4e116;
    position: absolute;
    top: 100%;
    right: 0;
}
#contact .title
{
    font-size: 19px;
    color: #171915;
    margin-bottom: 30px;
    margin-top: 0;
}
#contact .info
{
    margin-right: 15px;
    margin-bottom: 40px;
}
#contact .info > ul > li
{
    font-size: 15px;
    color: #707070;
    line-height: 34px;
}
#contact .info > ul > li > .fa
{
    font-size: 15px;
    margin-left: 18px;
    color: #171915;
}
footer
{
    padding-top: 22px;
    padding-bottom: 47px;
}
footer .copyright
{
    font-size: 13px;
    color: #171915;
    width: 32%;
    line-height: 23px;
    margin: auto;
    text-align: center;
    margin-bottom: 0;
}
footer .copyright > a
{
    font-size: 13px;
    color: #171915;
    transition: 0.5s ease;
}
footer .copyright > a:hover
{
    color: #e1d61c;
}







@media (max-width: 1199px) and (min-width: 992px)
{
    header .main
    {
        right: 15px;
    }
    .cell
    {
        max-width: 197px;
    }
}






@media(max-width:991px)
{
    header .top_bar
    {
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 40px;
    }
    header .main
    {
        display: none;
    }
    header
    {
        min-height: auto;
        background-image: none;
    }
    .down_nav
    {
        top: 100%;
        margin-bottom: 30px;
    }
    header .mobile_nav
    {
        display: block;
        width: 100%;
        margin-bottom: 30px;
        margin-top: 30px;
    }
    .custom
    {
        width: 100%;
    }
    #about_us
    {
        margin-top: 100px;
    }
    #about_us .info
    {
        text-align: center;
    }
    #contact .heading h3
    {
        text-align: center;
    }
    .heading h3:after,#contact .heading h3:after
    {
        left: 50%;
        right: auto;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);
    }
    #about_us .detail
    {
        text-align: center;
    }
    #our_services .serv
    {
        margin-bottom: 60px;
    }
    #our_services .detail
    {
        margin-bottom: 50px;
    }
    #our_works
    {
        justify-content: center;
        margin-top: 30px;
    }
    .cell
    {
        margin: 15px 10px;
    }
    #contact .heading h3
    {
        font-size: 22px;
    }
    #contact .info > ul > li > .fa
    {
        font-size: 25px;
        margin-bottom: 15px;
    }
    #contact .info
    {
        margin-right: 0;
    }
    #contact .title
    {
        text-align: center;
        margin-bottom: 60px;
    }
    #contact .info > ul > li
    {
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        line-height: 25px;
        margin-bottom: 30px;
    }
    footer .copyright
    {
        width: 100%;
    }
}

@media (max-width: 1920px) and (min-width: 1361px)
{
    .cell
    {
        width: 381px;
        max-width: 384px;
    }
    .cell img
    {
        width: 100%;
    }
}